numpy
opencv-python
# face_recognition refer to docs for jetson
# install dlib manually first
rasa
Flask
pyserial
openai-whisper
SpeechRecognition
# pyaudio 
# sudo apt-get install portaudio19-dev python-all-dev python3-all-dev && sudo pip3 install pyaudio 
pydub
azure-cognitiveservices-speech
simpleaudio